
.banner {
    text-align: center;
}
.typed{
    color: #000;
    background-color: rgb(185, 225, 100);
}
.untyped{
    color: #666;
}
#top-player{
    clear: both;
    /*-webkit-transform:rotate(180deg);*/
}
#left-player{
    /*-webkit-transform:rotate(90deg);
  /*position: absolute;*/
    margin-left: auto;
    box-shadow: inset 0 0 10px #cccccc;
    background-color: white;
    padding: 10px;
}
#right-player{
/*-webkit-transform:rotate(-90deg);
position: absolute;
*/
    margin-right: auto;
    box-shadow: inset 0 0 10px #cccccc;
    background-color: white;
    padding: 10px;
}
#middle-content{
    height: 250px;
    margin:auto;
}
div#main-player{
    margin:auto;
    box-shadow:inset 0 0 10px #cccccc;
    width: 400px;
    background-color: white;
    padding: 10px;
}
div#img-content{
    text-align: center;
    vertical-align: middle;
}
body {
    background-image: url("/assets/concrete_seamless.png");
    background-repeat: repeat;
}